const configs={
  gisToken:'',
  counMSupd:590000,
  //counMSupd:5000,
  redis:{
   port: process.env.CONKY_REDISPORT || 6379,
   host: process.env.CONKY_REDISHOST || 'localhost',
   expire: 1,
   expireForIP:43200
 }
};
module.exports = configs;
